.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid white;
}

.header__logo{
    object-fit:contain ;
    height: 45px;
}
.header__icon{
    height: auto;
    padding: 20px;
}